<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user profile</title>
    <link rel="stylesheet" href="/public/profile.css" type="text/css">
</head>

<body>
    <div id="container">
        <section id="wellcomeBox">
            <h1>Wellcome back ,<span style="font-size: 3rem;">' <%=user.name%>'</span></h1>
            <img id="profile-pic" src=<% if(user.profile){ %> "<%=user.profile%>" <% }else{ %> "/public/images/blank
                    profile.jpg" <% } %> alt=" Profile Image"/>
        </section>
        
        <main id="workouts-container">
        <a href="/profile/chests"><div class="body-parts">Chest</div></a>
        <a href="/profile/backs"><div class="body-parts">Back</div></a>
        <a href="/profile/shoulders"><div class="body-parts">Shoulder</div></a>
        <a href="/profile/biceps"><div class="body-parts">Biceps</div></a>
        <a href="/profile/triceps"><div class="body-parts">Triceps</div></a>
        <a href="/profile/legs"><div class="body-parts">legs</div></a>
        <a href="/profile/customs"><div class="body-parts">Customize your workout</div></a>
        </main>

        <aside id="profile-functions">
            <a href="/profile/userDetails" class="profile-options">Profile</a>
            <a href="/profile/feedback" class="profile-options">Feedback</a>
            <a href="/profile/logout" class="profile-options">logout</a>
        </aside>

        <footer>
            Copyright &copy; www.loremIpsun.com. All rights reserved!
        </footer>
    </div>
</body>

</html>