<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>workouts</title>
    <style>
        #container{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            border: 2px solid black;
            height: 100vh;
        }
        .body-parts{
            box-shadow: 0rem 0rem 0.4rem;
            text-align: center;
            width: 50rem;
            border-radius: 1rem;
            font-size: 2rem;
            font-weight: bold;
            cursor: pointer;
            transition: all ease .3s;
        }
        .body-parts:hover {
            scale:  1.1;
        }
        a{
            text-decoration: none;
            color : black;
        }
    </style>
</head>
<body>
    <div id="container">
        <a href="/profile/workouts/chests"><div class="body-parts">Chest</div></a>
        <a href="/profile/workouts/backs"><div class="body-parts">Back</div></a>
        <a href="/profile/workouts/shoulders"><div class="body-parts">Shoulder</div></a>
        <a href="/profile/workouts/biceps"><div class="body-parts">Biceps</div></a>
        <a href="/profile/workouts/triceps"><div class="body-parts">Triceps</div></a>
        <a href="/profile/workouts/legs"><div class="body-parts">legs</div></a>
        <a href="/profile/workouts/customs"><div class="body-parts">Customize your workout</div></a>
    </div>
</body>
</html>