* {
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}

#first-img {
    width: 100%;
    height: 43.5rem;
    position: absolute;
    z-index: -2;
}

/* navbar */

#navbar::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 3.8rem;
    background-color: darkslategrey;
    z-index: -1;
    opacity: 0.8;
}

#navbar {
    position: sticky;
    top: 0rem;
    display: flex;
    height: 3.4rem;
    justify-content: space-between;
    z-index: 0;
}

#logo {

    margin-left: 1.5rem;
    width: 70%;
    height: 100%;
    filter: invert(1);
}

#nav-opt-cont {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 3.3rem;
    align-items: center;
}

.nav-opt {
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: all ease 0.3s;
}

.nav-opt:hover {
    font-size: 1.5rem;
}

.nav-opt:active {
    color: red;
}

/*black part over image  */

#over-image {
    color: white;
    display: flex;
    justify-content: center;
    height: 39.8rem;
    align-items: center;
}

#over-image div {
    width: 70%;
    position: relative;
    top: -4rem;
}

#over-image::before {
    content: ' ';
    margin-top: 0.4rem;
    position: absolute;
    width: 100%;
    height: 44.2rem;
    background-color: rgb(33 38 41);
    z-index: -1;
    opacity: 0.8;
    top: -1rem;
}

/* login and sign  up */

#sign-up {
    position: absolute;
    top: 18rem;
    width: 14rem;
    height: 2.5rem;
    border-radius: 2rem;
    background: transparent;
    color: white;
    cursor: pointer;
    border-color: beige;
    transition: all ease 0.3s;
}

#sign-up:hover {
    background: brown;
    scale: 1.1;
}

#login {
    width: 6.8rem;
    height: 1.7rem;
    border-radius: 2rem;
    background: transparent;
    color: white;
    cursor: pointer;
    border-color: aqua;
    transition: all ease 0.3s;
}

#login:hover {
    background-color: aqua;
    color: black;
    scale: 1.3;
}

/* login/sign up form-cont  */

#form-cont {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 13rem;
    left: 22.5rem;
    background-color: #555d6aad;
    z-index: 5;
}

#form-back {
    position: fixed;
    top: 0;
    background: rgb(33 38 41 / 53%);
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(7px);
}

.toggle-form {
    position: relative;
    top: 1.8rem;
    left: 2rem;
    width: 14.2rem;
    height: 2.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: initial;
    cursor: pointer;
}

#cross {
    font-size: 1.8rem;
    position: absolute;
    left: 48.9rem;
    top: -2.3rem;
    color: white;
    cursor: pointer;
    transition: all ease 0.3s;
}

#cross:hover {
    scale: 1.5;
}

/* sign-up-form */

#sign-up-form {
    display: none;
    position: absolute;
    top: 29%;
    left: 23.4%;
    font-size: larger;
    font-weight: bold;
}

.inp-field {
    padding: 5px;
    width: 14rem;
    height: 1rem;
    border-radius: 0.8rem;
    position: absolute;
    left: 10.5rem;
    background: #a9a9a9a1;
}

.sign-up-btn {
    width: 16rem;
    height: 1.7rem;
    position: relative;
    left: 4.5rem;
    font-weight: bold;
    background: cadetblue;
    color: aliceblue;
    cursor: pointer;
    transition: all ease 0.3s;
}

.sign-up-btn:hover {
    scale: 1.2;
}

/* login form */

#login-form {
    position: absolute;
    top: 7rem;
    left: 11.3rem;
}

#login-form label {
    font-weight: bold;
    font-size: larger;
}

::placeholder {
    color: black;
    opacity: 1;
    /* Firefox */
}

.eye{
    position: absolute;
    left: 136%;
    top: 76%;
    cursor: pointer;
}
.fa-eye{
    visibility: hidden;
}
.sign-eye{
    position: absolute;
    left: 147%;
    top: 54%;
    cursor: pointer;
    z-index: 1;
}

/* about us */

#about-content-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#firstpara {
    display: flex;
    justify-content: space-between;
}

.about-paras {
    padding: 1rem;
    font-size: 1.1rem;
}

#about-img {
    width: 15rem;
    height: 20rem;
    position: relative;
    top: 2rem;
    filter: drop-shadow(6px -2px 8px black);
    z-index: -1;
}

/* transform part */
#transform{
    display: flex;
    justify-content: space-around;
}
.transform-img{
    width: 100%;
    height: 50%;
}
.transform-content{
    border: 2px solid black;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    width: 25.2%;
    overflow: hidden;
}

/* contact us part */

#contact-us{
    z-index: -1;
    background-image: url(/public/images/contact\ us\ back.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    height: 30rem;
}
#contact-form{
    position: relative;
    right: -21%;
    top: 4%;
    color: white;
    border: 2px solid black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22rem;
}
.contact-inp-field {
    width: 21.3rem;
    height: 1.8rem;
}
#contact-form > div > input,textarea,button{
    padding: 0.3rem;
    background : fixed;
}
#contact-subButton{
    border-radius: 1rem;
    cursor: pointer;
    transition: all ease .3s;
}
#contact-subButton:hover{
    scale: 1.05;
    font-weight: bold;
}

.inpError{
    font-weight: bold;
    position: fixed;
    left: 59.3rem;
    color: red;
}

#form-submitted-cont{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(7px);
    justify-content: center;
    align-items: center;
}
#form-submitted{
    width: 30%;
    height: 30%;
    padding: 2rem;
    font-size: 2rem;  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  
    background-color: white;
    box-shadow: 1rem 1rem 3.5rem;
}
#form-submitted > button {
    width: 20rem;
    height: 2.7rem;
    border-radius: 1.3rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

#login-auth-failed{
    color: red;
    position: relative;
    top: 1.2rem;
    left: 6rem;
    font-weight: bold;
}